<div>
  <div class="pl-10 w-[80%] m-auto min-h-[80vh]">
    <div class="flex h-full flex-col bg-white shadow-xl mt-4">
      <div class="flex-1 overflow-y-auto px-4 py-6 sm:px-6">
        <div class="flex items-start justify-between">
          <h2 class="text-lg font-medium text-gray-900" id="slide-over-title">
            Shopping cart
          </h2>
        </div>

        <div class="mt-8">
          <div class="flow-root overflow-y-scroll pr-4 h-[400px] custom-scrollbar">
            <ul role="list" class="-my-6 divide-y divide-gray-200">
              <!-- Products listing  -->
              <li class="flex py-6" *ngFor="let item of cartData">
                <div
                  class="h-24 w-24 flex-shrink-0 overflow-hidden rounded-md border border-gray-200"
                >
                  <img
                    src="{{ item.image }}"
                    alt="{{ item.image }}"
                    class="h-full w-full object-cover object-center"
                  />
                </div>

                <div class="ml-4 flex flex-1 flex-col">
                  <div>
                    <div
                      class="flex justify-between text-base font-medium text-gray-900"
                    >
                      <h3>
                        {{ item.title }}
                      </h3>
                      <p class="ml-4">₹{{item.price}}</p>
                    </div>
                    <p class="mt-1 text-sm text-gray-500">{{ item.category.toUpperCase() }}</p>
                  </div>
                  <div class="flex flex-1 items-end justify-between text-sm">
                    <p class="text-gray-500">Qty 1</p>

                    <div class="flex">
                      <button
                        (click)="removeCartItem(item.id)"
                        type="button"
                        class="font-medium text-indigo-600 hover:text-indigo-500"
                      >
                        Remove
                      </button>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Sub Total  -->
      <div class="border-t border-gray-200 px-4 py-6 sm:px-6">
        <div class="flex justify-between text-base font-medium text-gray-900">
          <p>Subtotal</p>
          <p>₹{{totalPrice.toFixed(2)}}</p>
        </div>
        <p class="mt-0.5 text-sm text-gray-500">
          Shipping and taxes calculated at checkout.
        </p>
        <div class="mt-6">
          <a
            href="#"
            class="flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-6 py-3 text-base font-medium text-white shadow-sm hover:bg-indigo-700"
            >Checkout</a
          >
        </div>
        <div class="mt-6 flex justify-center text-center text-sm text-gray-500">
          <p>
            or
            <a
              routerLink = "/"
              type="button"
              class="font-medium text-indigo-600 hover:text-indigo-500"
            >
              Continue Shopping
              <span aria-hidden="true"> &rarr;</span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
